* {
    margin: 0;
    padding: 0;
    border: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    max-width: 500px;
    padding: 30px;
    margin: 0 30px;
    box-shadow: 0 15px 20px #515347;
}

h2 {
    font-size: 26px;
    font-weight: 500;
    text-align: left;
    color: rgb(235, 13, 13);
    padding-bottom: 8px;
    border-bottom: 1px solid silver;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}

.input-box {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
}

.input-box:nth-child {
    justify-content: end;
}

.input-box label,
.gender-title {
    width: 95%;
    color: blue;
    font-weight: bold;
    margin: 5px 0;

}

.gender-title {
    font-size: 16px;
    color: blue;
}

.input-box input {
    height: 40px;
    width: 95%;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.input-box input:is(:focus, :vaild) {
    box-shadow: 0 3px 6px black;
}

.gender-category {
    color: rgb(22, 133, 202);
}

.gender-category label {
    padding: 0 20px 0 5px;
    font-size: 20px;

}

.gender-category label,
.gender-category input {
    cursor: pointer;
}

.alert {
    font-size: 14px;
    font-style: italic;
    color: coral;
    margin: 5px 0;
    padding: 10px;
}

.alert a {
    text-decoration: none;
}

.alert a:hover {
    text-decoration: underline;
}

.button-container {
    margin: 15px 0;

}

.button-container button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    display: block;
    font-size: 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(to right, red, violet);
}

.button-container button:hover {
    background-image: linear-gradient(to right, #61045f, #aa076b);

}

@media(max-width:600px) {
    .container {
        min-width: 280px;
    }

    .content {
        max-height: 380px;
        overflow: auto;
    }

    .input-box {
        margin: 12px;
        width: 100%;
    }

    .input-box:nth-child(2n) {
        justify-content: space-between;
    }

    .gender-category {
        display: flex;
        justify-content: space-between;
        width: 60%;
    }
    .content::-webkit-scrollbar {
        width: 0;

    }
}